In [18]:
import pandas as pd

filepath = 'https://media.githubusercontent.com/media/LondonEnergyMap/model_data/master/domestic/combined_needepc.csv'
df_all = pd.read_csv(filepath)
df_all.head()

,hid,imd,type,form,exposedsides,tfa,epc,age,nroom,maingas,gcons,econs,gmeters,emeters
0,3221499468,6.0,flat,detached,4.0,48.30,2,1.0,1,1,5636.993076,2874.8,7.0,7.0
1,2290543668,6.0,flat,mid-terrace,2.0,70.85,2,3.0,3,1,5636.993076,2874.8,7.0,7.0
2,6015699968,6.0,flat,mid-terrace,2.0,66.00,2,1.0,3,1,5636.993076,2874.8,7.0,7.0
3,9939448868,6.0,flat,mid-terrace,2.0,66.00,2,1.0,3,1,5636.993076,2874.8,7.0,7.0
4,1536490868,6.0,flat,enclosed mid-terrace,1.5,111.00,2,1.0,4,1,5636.993076,2874.8,7.0,7.0

In [19]:
df_all.shape

(54963, 14)

In [20]:
df = df_all[(df_all.gmeters<=7) & (df_all.emeters<=7)]
df.shape

(16394, 14)

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# temp = df_all[(df_all.gmeters<=7) & (df_all.emeters<=7)]

temp = df_all[(df_all.gmeters > 1) & (df_all.emeters > 1)]

# temp = temp[temp.nroom > 5]
# temp = df_all
temp.head()
temp.nroom.unique()

array([ 1,  3,  4,  2,  5,  6,  8,  7,  9, 10])

In [26]:
# x = temp[['imd', 'tfa', 'epc', 'age', 'nroom', 'exposedsides', 'maingas']]
x = temp[['tfa', 'epc', 'age', 'nroom', 'exposedsides', 'maingas']] #'imd'
y = temp[['gcons', 'econs']]

x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, test_size=0.2, random_state=42)

lrmodel = LinearRegression()
lrmodel.fit(x_train, y_train)
predictions = lrmodel.predict(x_test)
scores = lrmodel.score(x_train, y_train)
scores

0.5296863254254113

In [28]:
# get precision / RMSE
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y_test, predictions))
rms

3936.3436341212346

In [24]:
gcons_predict, econs_predict = map(list, zip(*predictions))

In [25]:
y_test['gcons1'] = gcons_predict

/Users/dora/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.